<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- FONTS and ICONS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
  rel="stylesheet" />
  <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />
  <!-- SLEEK STYLE FILE -->
  <link id="sleek-css" rel="stylesheet" href="assets/css/sleek.min.css" />

  <title>{{.Title}} - {{.TestName}}</title>
</head>

<body id="body">
{{embed}}
</body>

</html>
